.imagecaption {
  padding: 3px;
  margin: 10px;
  float: left;
  border: 1px solid black;
}
figure {
  display: table;
  margin: 0px;
}

figure img {
  display: block;
}

figcaption {
  display: table-caption;
  caption-side: bottom;
  text-align: center;
  border: 1px dotted blue;
}
